/* Reset Styles */
*, *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
}

main{
    width: 550px;
    height: 100vh;
    display: grid;
    grid-auto-rows: max-content auto;
    
}

header {
    display: grid;
    padding: 0 8%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6166841736694677) 2%, rgba(0,0,0,0.7175245098039216) 97%) ,
    url("images/bgimage.jpg");
    background-size: cover;
    background-position: 25% 25%;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.title h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 2em 0;
}

.title button {
    background-color: transparent;
    border: none;
}

.title a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: inherit;
}

form{
    display: flex;
    position: relative;
    top: 50%;
}

form img {
    flex-basis: min-content;
    padding-left: 1em;
    background-color: #fff;
    border: 1px solid #D1D5DB;
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

form input{
    font-size: 1.4rem;
    font-family: 'Inter' , sans-serif;
    color: #6B7280;
    font-weight: 500;
    flex-basis: 75%;
    height: 3.8rem;
    border: none;
    border: 1px solid #D1D5DB;
    border-left-style: none;
    border-right-style: none;
    padding-left: .5em;
}

form input::placeholder{
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

form input:focus-visible{
    outline: none;
}

form button{
    flex-basis: 25%;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #F9FAFB;
    border-radius: 0px;
    border: 1px solid #D1D5DB;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

section{
    display: grid;
    padding: 8%;
    align-items: center;
    justify-items: center;
}

.explore{
    font-size: 1.8rem;
    font-weight: 700;
    color: #dfdddd;
    text-align: center;
}

.item{
    align-self: flex-start;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content auto;
    align-items: center;
    padding: 2em 0;
    border-bottom: 2px solid #e5e7eb;
}

.item img{

}

.item div:nth-of-type(2){
    padding-left: 2.5em;
    
}

.movie{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


.movie p:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
    flex-basis: max-content;
    
}


.movie p:nth-child(2){
    flex-basis: 50%;
    align-self: flex-start;
    display: flex;
}

.movie p:nth-child(2) span{
    margin-left: .5em;
}

.movie p:nth-child(3){
    font-weight: 500;
   
}


.movie p:nth-child(4){
    font-weight: 500;
}

.movie button{
    align-self: center;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

.movie button img{
    width: 20px;
    border-radius: 50%;
    margin-right: .5em;
}

.plot{
    font-size: 1.6rem;
    color: #6B7280;
    margin-top: .5em;

}